.container {
  position: relative;
  z-index: 1;
}

.btn {
  font-family: var(--oswald);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  gap: 2rem;
  border-radius: 10px;
  padding: 15px;
  padding-left: 15px;
  padding-right: 70px;
  position: relative;
  z-index: 1;
  width: 100%;
  line-height: 107%;
  transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

.icon2 {
  width: 25px;
  height: 25px;
  color: var(--black);
  position: absolute;
  right: 10px;
  transition: all 0.1s ease-in-out;
}

.btn:hover .icon2 {
  transform: rotate(-45deg);
}

.primary {
  color: var(--green);
  background-color: var(--green3);
  border: 1px solid var(--green);
}
.primaryii {
  color: var(--green3);
  background-color: var(--green);
  border: 1px solid var(--green);
}

.primaryii:hover {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
}

.primary:hover {
  background-color: var(--green);
  color: var(--green3);
  border: 1px solid var(--green3);
}

.primaryNav {
  color: var(--green);
  background-color: var(--green3);
  border: 1px solid var(--green);
  padding: 5px 30px;
}

.secondary {
  color: var(--black);
  position: relative;
  background-color: var(--green);
  border: 1px solid var(--gray);
}

.secondaryii {
  color: var(--black);
  border: 1px solid var(--gray);
  background-color: var(--gray);
}

.secondary:hover {
  background-color: var(--green2);
}

.secondaryNav {
  color: var(--green);
  background-color: var(--white);
  border: 1px solid var(--green);
  padding: 5px 30px;
}

.secondaryii:hover {
  background-color: var(--gray2);
  /* border: 1px solid var(--gray2); */
}

.tertiary {
  color: var(--tan);
  background-color: var(--green);
  border: 1px solid var(--tan);
}

.tertiary:hover {
  background-color: var(--tan);
  color: var(--green);
  border: 1px solid var(--tan);
}

@media screen and (max-width: 568px) {
  .btn {
    font-size: 2rem;
  }
}
