.container {
  background-color: var(--tan);
}

.content {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 5rem;
}

.heading {
  font-size: 10rem;
  letter-spacing: 2px;
  line-height: 100%;
}

.copy {
  font-size: 1.8rem;
  width: 90%;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.btnContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin-top: 3rem;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
